html {
    min-width: 400px;
    min-height: 400px;

    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;

    height: 100vh;
    display: grid;
    grid-gap: 1%;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;

    div {
        display: flex;
        justify-content: center;

        &:nth-of-type(1) {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
            background-image: linear-gradient(45deg, #9572cc 12.50%, #f0ec7f 12.50%, #f0ec7f 25%, #e64040 25%, #e64040 37.50%, #54b851 37.50%, #54b851 50%, #9572cc 50%, #9572cc 62.50%, #f0ec7f 62.50%, #f0ec7f 75%, #e64040 75%, #e64040 87.50%, #54b851 87.50%, #54b851 100%);
        }
        &:nth-of-type(2) {
            grid-column: 2 / 3;
            grid-row: 1 / 2;
            background-image: linear-gradient(135deg, #9572cc 12.50%, #f0ec7f 12.50%, #f0ec7f 25%, #e64040 25%, #e64040 37.50%, #54b851 37.50%, #54b851 50%, #9572cc 50%, #9572cc 62.50%, #f0ec7f 62.50%, #f0ec7f 75%, #e64040 75%, #e64040 87.50%, #54b851 87.50%, #54b851 100%);
        }
        &:nth-of-type(3) {
            grid-column: 1 / 2;
            grid-row: 2 / 3;
            background-image: linear-gradient(135deg, #9572cc 12.50%, #f0ec7f 12.50%, #f0ec7f 25%, #e64040 25%, #e64040 37.50%, #54b851 37.50%, #54b851 50%, #9572cc 50%, #9572cc 62.50%, #f0ec7f 62.50%, #f0ec7f 75%, #e64040 75%, #e64040 87.50%, #54b851 87.50%, #54b851 100%);
        }
        &:nth-of-type(4) {
            grid-column: 2 / 3;
            grid-row: 2 / 3;
            background-image: linear-gradient(45deg, #9572cc 12.50%, #f0ec7f 12.50%, #f0ec7f 25%, #e64040 25%, #e64040 37.50%, #54b851 37.50%, #54b851 50%, #9572cc 50%, #9572cc 62.50%, #f0ec7f 62.50%, #f0ec7f 75%, #e64040 75%, #e64040 87.50%, #54b851 87.50%, #54b851 100%);
        }
    }

    section {
        margin: 25%;
        grid-column: 1 / 3;
        grid-row: 1 / 3;

        display: flex;
        justify-content: center;

        background-image: linear-gradient(40deg, #33ace8 12.50%, #f0eb65 12.50%, #f0eb65 25%, #f558f5 25%, #f558f5 37.50%, #eb9752 37.50%, #eb9752 50%, #33ace8 50%, #33ace8 62.50%, #f0eb65 62.50%, #f0eb65 75%, #f558f5 75%, #f558f5 87.50%, #eb9752 87.50%, #eb9752 100%);
        background-size: 124.46px 104.43px;

        border-width: 10px;
        border-style: solid;
        border-color: gray;
        border-radius: 50%;

        // animation-name: spinny;
        // animation-iteration-count: 1;
        // animation-duration: 2s;
        // animation-timing-function: ease-out;

        button {
            align-self: center;
            @extend %button-style;
        }
    }

    .spinny-anim {
        animation-name: spinny;
        animation-iteration-count: 1;
        animation-duration: 2s;
        animation-timing-function: ease-out;
    }

    @keyframes spinny {
        0% {
            transform: rotate(0deg);
        }
        30% {
            transform: rotate(-40deg);
        }
        100% {
            transform: rotate(2880deg);
        }
    }
}

%button-style {
        margin: 0 auto;
        font-size: 2.0rem;
        padding: 1.25rem 2.5rem;
        display: block;
        background-color: #009ac9;
        border: 1px solid transparent;
        color: #ffffff;
        font-weight: 300;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;

      
      &:hover {
        background-color: #ffffff;
        color: #009ac9;
        border-color: #009ac9;
      }

}